@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html,
body {
    background: #191919;
    height: 100%; 
}

body {
    font: 100% open sans, sans-serif; 
}

.menu {
    background: #111;
    border-right: 1px solid #000;
    box-shadow: 
        1px 0 0 #222
        ;
    height: 100%;
    width: 220px;
}

ul {
    background: #111;
    border-bottom: 1px solid #222;  
} 

li {
    display: block;
}

.link {
    background: #111;
    border-bottom: 1px solid #000;
    border-top: 1px solid #222;
    box-shadow:
        inset -5px 0 0 hsla(0, 0%, 0%, .2),
        inset 0 20px 0 #161616
        ;
    color: #bbb;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding: 0 45px;
    text-align: right;
    text-decoration: none;
    text-shadow: 0 -1px 1px hsla(0, 0%, 0%, .5);
    transition: all 300ms;
}

.link:hover,
.link:focus,
li.current .link {
    background: #222;
    border-top-color: #3a3a3a;
    box-shadow: 
        inset -5px 0 0 #3a3a3a,
        inset 0 20px 0 #282828
        ;
    color: #ddd;
    outline: 0  ;
    padding: 0 30px;
    transition: all 300ms;
}

li.current .link {
    box-shadow:
        inset -5px 0 0 #e00,
        inset 0 20px 0 #282828
        ;
    padding: 0 45px;
}

.link:active {
    background: #333;
    border-top-color: #666;
    box-shadow: 
        inset -5px 0 0 #666,
        inset 0 20px 0 #444
        ;
    color: #fff;
    transition: all 50ms;
}

li:first-child .link {
    border-top: none; 
}

.formulario {
    background: #6f6f6f;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    border-width: thick;
    border-style: solid;
    border-color: #6f6f6f;
}

input[type="text"]{
    font-family:helvetica_neue, sans-serif;
    color:#607078;
    font-size:13px;
    width:150px;
    padding-left:15px;
    height:30px;
    line-height:35px;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border:1px solid #808384;
    border-right:1px solid #dce5e8;
    border-width: thin;
    border-style: solid;
    border-color: #000;
}

input[type="number"]{
    font-family:helvetica_neue, sans-serif;
    color:#607078;
    font-size:13px;
    width:150px;
    padding-left:15px;
    height:30px;
    line-height:35px;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border:1px solid #808384;
    border-right:1px solid #dce5e8;
    border-width: thin;
    border-style: solid;
    border-color: #000;
}



p, legend {
    margin-left: 5px;
}

legend {
    color: #ddd;
}

select {
    border : 1px solid grey;
    height: 30px;
    width: 167px;
    border-radius: 6px;
    vertical-align: middle; /*Opera alignment Fix */
    border-width: thin;
    border-style: solid;
    border-color: #000;
}

select:focus {
    outline: none;
    border: 1px solid black;
    box-shadow: 0 0 5px 2px cyan;
}

.legend {
    background: #000;
    border-width: thin;
    border-style: solid;
    border-color: #000;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
}

.btnCadastrar{
    border:thin solid black;
    border-radius:3px;
    padding:10px 30px;
    color:#BBB;
    box-shadow:0px 1px 0 #AAA inset, 0px 1px 0 #444;
    outline:none;
    background: #676e70; /* Old browsers */
    background: -moz-linear-gradient(top,  #676e70 0%, #2a2d2c 50%, #0a0e0a 51%, #0a0809 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#676e70), color-stop(50%,#2a2d2c), color-stop(51%,#0a0e0a), color-stop(100%,#0a0809)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #676e70 0%,#2a2d2c 50%,#0a0e0a 51%,#0a0809 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #676e70 0%,#2a2d2c 50%,#0a0e0a 51%,#0a0809 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #676e70 0%,#2a2d2c 50%,#0a0e0a 51%,#0a0809 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #676e70 0%,#2a2d2c 50%,#0a0e0a 51%,#0a0809 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#676e70', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */

}

.btnCadastrar:hover{
    box-shadow:0px 1px 0 #AAA inset,0 0 20px -5px #999 inset, 0px 1px 0 #444;
    color:white;
}

.btnCadastrar:active{
    box-shadow:0 0 10px #000 inset, 0px 1px 0 #444;
    color:#999;
    background: #202323; /* Old browsers */
    background: -moz-linear-gradient(top,  #202323 0%, #131414 50%, #000000 50%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#202323), color-stop(50%,#131414), color-stop(50%,#000000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #202323 0%,#131414 50%,#000000 50%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #202323 0%,#131414 50%,#000000 50%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #202323 0%,#131414 50%,#000000 50%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #202323 0%,#131414 50%,#000000 50%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202323', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}

.tabela{
    margin-left: 250px;
}

thead {
    background: #000;
}

th {
    color: #fff;
    font: 100% open sans, sans-serif;
    font-size: 14px;
    border-width: thick;
    border-style: solid;
    border-color: #000;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
}

tbody {
    background: #6f6f6f;
}

td {
    color: #fff;
    font: 100% open sans, sans-serif;
    font-size: 14px; 
    border-width: thick;
    border-style: solid;
    border-color: #6f6f6f;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    text-align: center;
}

